.content-block.news-latest {
    .button-circle {
        width: rem(170);
    }

    .news-latest__text {
        @extend blockquote;

        p {
            margin-top: 0;
        }


    }

    .news-latest__wrapper {
        @include mobile {
            display: flex;
            flex-direction: column;

            .column:first-child {
                order: 2;
            }

            .column:nth-child(2) {
                order: 1;
            }
        }
    }
}