.content-block.text-logo {
    position: relative;

    .container {
        position: relative;
    }



    &.has-bg-blue,
    &.has-bg-red {
        strong {
            color: $yellow;
        }
    }

    &.has-bg-yellow,
    &.has-bg-red {
        strong {
            color: $blue;
        }
    }

    @include from($tablet) {
        &::before {
            content: '';
            width: calc(42vw);
            height: 100%;
            background: $white;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
    }
}

#kleingedrucktes {
    text-align: center;

    ul {
        margin-top: 3rem;
    }


    li {
        display: block;
        background-size: rem(40);
        background-position: top center;
        background-repeat: no-repeat;
        padding: rem(50) .5rem 0 .5rem
    }

    @include until($desktop) {
        li+li {
            margin-top: 2rem;
        }
    }

    @include from($desktop) {
        ul {
            display: flex;
        }

        li {
            width: calc(100%/3);
        }
    }

    li:nth-child(1) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 25 27'%3E%3Cpath fill='%23144E8B' d='M23 14h-4v-4h2a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2v4H3a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h1v5a1 1 0 1 0 2 0v-5h14v5a1 1 0 0 0 2 0v-5h1a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2Zm-6 0H9v-4h8v4Z'/%3E%3C/svg%3E");
    }

    li:nth-child(2) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 28 26'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23144E8B' d='M27 24h-3V2a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v22H1a1 1 0 0 0 0 2h26a1 1 0 0 0 0-2Zm-8 0H6V2h13v22Zm-5-10.5a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h28v26H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    li:nth-child(3) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 28 28'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23144E8B' d='m27.014 23.85-3 1a1 1 0 0 1-1.211-.5l-3.724-7.449H8.698a1 1 0 0 1-1-1v-3.707a7 7 0 0 0 2 13.707c3.239 0 6.261-2.256 7.031-5.25a1 1 0 1 1 1.938.5c-1.008 3.913-4.78 6.75-8.97 6.75a9 9 0 0 1-2-17.773V7.753a3.5 3.5 0 1 1 2 0v2.149h7a1 1 0 0 1 0 2h-7v3h10a1 1 0 0 1 .895.552l3.612 7.225 2.178-.726a1 1 0 1 1 .632 1.897Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h28v28H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
}