@mixin text-link($underlineColor) {
    color: $black;
    text-decoration: underline;
    text-decoration-skip: ink;
    text-decoration-color: $underlineColor;
    text-decoration-thickness: .1em;
    text-underline-offset: .1em;
    transition: text-decoration-color .3s;

    &:hover {
        text-decoration-color: $black;
    }
}

@mixin text-link-white {
    color: $white;
    text-decoration: underline;
    text-decoration-skip: ink;
    text-decoration-color: $yellow;
    text-decoration-thickness: .1em;
    text-underline-offset: .1em;
    transition: text-decoration-color .3s;

    &:hover {
        text-decoration-color: $white;
    }
}

@mixin button-primary {
    display: inline-block;
    padding: .75em 1.5em .75em 3em;
    font-family: $font-secondary;
    font-size: rem(16);
    color: $white;
    @include tracking(30);
    transition: color .3s;
    position: relative;
    background-color: $blue;

    &::before {
        content: '';
        @include center-y;
        margin-top: -1px;
        left: 1.5em;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 0 6px 12px;
        border-color: transparent transparent transparent $white;
        transition: all .3s cubic-bezier(.47, 1.64, .41, .8);
    }

    &:hover {
        color: $yellow;

        &::before {
            border-color: transparent transparent transparent $yellow;
            left: 1.6em;
            border-width: 8px 0 8px 16px;
        }
    }
}

@mixin button-primary-smaller {
    padding: .5em 1em .5em 2em;

    &::before {
        left: 1em;
        border-width: 5px 0 5px 10px;
    }
}

@mixin button-light {
    display: inline-block;
    font-family: $font-secondary;
    font-size: rem(16);
    color: $blue;
    @include tracking(20);
    transition: color .3s;
    position: relative;
    padding-left: 1.25em;
    text-decoration: underline;
    text-decoration-skip: ink;
    text-decoration-thickness: .1em;
    text-underline-offset: .1em;

    &::before {
        content: '';
        @include center-y;
        margin-top: -1px;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 0 6px 12px;
        border-color: transparent transparent transparent $blue;
        transition: border-color .3s;
    }

    &:hover {
        color: $black;

        &::before {
            border-color: transparent transparent transparent $black;
        }
    }
}

@mixin button-primary-inverted {
    background-color: $white;
    color: $blue;
    transition: background-color .3s;

    &::before {
        border-color: transparent transparent transparent $blue;
    }

    &:hover {
        background-color: $yellow;
    }
}

@mixin button-circle {
    display: block;
    background-color: $white;
    border-radius: 100%;
    text-align: center;
    @include paragraph;
    font-family: $font-secondary;
    @include tracking(10);
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black;
    transition: transform .3s;
    padding: 5% 10% 0 10%;

    &:hover {
        transform: scale(1.05);
    }
}

a.button {
    @include button-primary;

    &.small {
        @include button-primary-smaller;
    }
}

a.button-circle {
    @include button-circle;
}

a.button-light {
    @include button-light;
}