/// Fonts
$font-primary: "Nunito Sans",
Helvetica,
Arial,
sans-serif;

$font-secondary: "Staatliches",
TimesNewRoman,
"Times New Roman",
Times,
Baskerville,
Georgia,
serif;


/// Colors
$yellow: #FD0;
$blue: #144E8B;
$red: #E44126;
$black: #000;
$white: #fff;

// Breakpoints
$mobile-xs: 375px;
$mobile-s: 550px;