.site-header {
    background: $blue;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.site-header__inner {
    width: 100%;
    height: rem(40);
    display: flex;
    align-items: center;
}

.site-header__logo {
    display: block;
    width: rem(80);
    flex-shrink: 0;


    @include mobile {
        width: rem(25);
    }
}